BOT_TOKEN=1234567890:replace_me
BOT_NAME=Елена Насырова Бот

# For a private channel use numeric id like -1001234567890.
# The bot must be an administrator in this channel.
CHANNEL_ID=-1000000000000
CHANNEL_INVITE_URL=https://t.me/+idyFDaVLUPY2ZmRi
CHANNEL_TITLE=Кластер уникальности

SITE_URL=https://elena-nasyrova.ru/
CONTACT_TG_URL=https://t.me/alteyapro
RUTUBE_CHANNEL_URL=https://rutube.ru/channel/49466882/
VK_URL=https://vk.com/alteyaprogroup
INSTAGRAM_URL=https://www.instagram.com/nasyrovaelena?igshid=MzRlODBiNWFlZA%3D%3D

# If empty, bot will use the built-in listening page fallback.
SACRAMEDITATIONS_URL=https://elena-nasyrova.ru/listen.html
SILA_RODA_RUTUBE_URL=
